body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: silver;
}

header {
 
}

h1 {
    font-size: 2rem;
}

#beforeinlog {

    padding: 10px;
    text-align: center;

}

article {
    margin-top: 10rem;
}

#newbtn {
    width: 10rem;
}

input {
    width: 15rem;
    font-size: 1rem;
    margin: 0.5rem;
    
}

button {
    width: 6rem;
    font-size: 1rem;
}

#afterinlog {

    display: none;
}

#falseinlog {

    display: none;
}

footer {
    text-align: center;
 
    padding: 0.1rem;
    margin: 0px;
}